# --- 1. CORE & KVM (Pour ton dév) ---
CONFIG_64BIT=y
CONFIG_SMP=y
CONFIG_X86_64=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y              # Ton module de dev
CONFIG_KVM_AMD=y        # ou KVM_INTEL=m

# --- 2. BOOT & SYSTEM ---
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_DEVTMPFS=y         # lkvm a besoin de /dev
CONFIG_DEVTMPFS_MOUNT=y   # Montage auto au boot
CONFIG_SHMEM=y		# to unpack rootfs...
CONFIG_TTY=y
CONFIG_HIGH_RES_TIMERS=y

# --- 3. VIRTIO (Le moteur de lkvm) ---
CONFIG_NET=y              # Requis pour Virtio Net et 9p
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y       # lkvm utilise souvent PCI
CONFIG_VIRTIO_MMIO=y      # lkvm peut aussi utiliser MMIO (cmdline)
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y   # CRITIQUE : C'est ta console avec lkvm
CONFIG_HW_RANDOM_VIRTIO=y

# --- 4. 9P FILESYSTEM (La "Killer Feature") ---
# Permet de faire : lkvm run --dir /mon/dossier/linux
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=y  # Utile pour les droits fichiers

# --- 5. CONSOLE ---
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=4

# --- 6. PCI (Base) ---
CONFIG_PCI=y
# --- POWER MANAGEMENT & ACPI ---
# Indispensable pour que "poweroff" éteigne la VM
CONFIG_ACPI=y
# (Optionnel mais conseillé) Pour que le kernel trouve les tables ACPI générées par lkvm
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y


CONFIG_RD_GZIP=y
CONFIG_BLK_DEV_INITRD=y
