# --- CORE ---
CONFIG_INITRAMFS_SOURCE=""   # On le passera en ligne de commande
CONFIG_BLK_DEV_INITRD=y      # Support initrd
CONFIG_BINFMT_ELF=y          # Pour lancer les binaires Linux
CONFIG_BINFMT_SCRIPT=y       # Pour les scripts shell
CONFIG_NO_HZ_IDLE=y          # Tickless (perf)
CONFIG_PRINTK=y              # Pour voir les logs
CONFIG_BUG=y                 # Panic messages

# --- GENERAL SETUP ---
CONFIG_POSIX_MQUEUE=y
CONFIG_MULTIUSER=y           # Support multi-utilisateurs (root/user)
CONFIG_SYSFS=y               # /sys
CONFIG_PROC_FS=y             # /proc
CONFIG_DEVTMPFS=y            # /dev auto-peuplé
CONFIG_DEVTMPFS_MOUNT=y      # Mount auto au boot
CONFIG_BLOCK=y               # Support disques

# --- ARM64 SPECIFIC ---
# QEMU Virt utilise le Generic Interrupt Controller (GIC)
CONFIG_ARM_GIC_V3=y
# Timer générique ARM
CONFIG_ARM_ARCH_TIMER=y

# --- BUS & DRIVERS ---
CONFIG_PCI=y
CONFIG_PCI_HOST_GENERIC=y    # Le contrôleur PCI de QEMU Virt

# --- VIRTIO (Tout en Y car on part de zero) ---
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HW_RANDOM_VIRTIO=y

# --- CONSOLE ---
CONFIG_TTY=y
# Console série ARM PL011 (ttyAMA0)
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

# --- OPTIONAL (Pour CTF) ---
CONFIG_GDB_SCRIPTS=y         # Utile si tu debug le kernel
# CONFIG_DEBUG_INFO est désactivé par défaut avec allnoconfig
